/**COLOR PALETTE FOR PROJECT:
BACKGROUND: #aee7ff
NAVBAR: #FFFFFF
TEXT FILL: #4891D3

TEXT FONT: Lato
 */

body {
    background-image: url("../img/shopping-basket-50-opacity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: 26% auto;
    background-color: #aee7ff;
    font-family: "Lato", sans-serif;
    color: #4891D3;
    font-size: 20px;
}
.plus-icon{
    font-size: 700%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
a {
    text-decoration: none;
}
a:link, a:visited {
    color: #4891D3;
}
a:hover {
    color: #4485c3;
}